FLASK_SECRET_KEY=celio48santos

# Superadmin (criador) com acesso livre
PLANILHAS_CREATOR_EMAIL=santossilvac992@gmail.com
PLANILHAS_CREATOR_PASSWORD=celio48santos

# PagBank (PIX)
PAGBANK_ENV=sandbox
PAGBANK_CLIENT_ID=16a9aa69-d7e4-42c7-9688-ed95ac1e47cf
PAGBANK_CLIENT_SECRET=5b77fe6e4bb0b273825a39cf3919dc700987-52dd-45fa-9d9c-29137dd10a7c
PAGBANK_PIX_KEY=santossilvac990@gmail.com

